/*-------------------------------------------------------------------
 *	Title:			about.css
 *	Author:			Roberto Gomez
 *	Date:			4/22/13
 *	Description:	CSS external stylesheet for about page about.html				
 *-------------------------------------------------------------------*/

#about nav .about > a, 				/* Disables the tab link  */
#about nav .selected > a {			/* of the current page	  */
	pointer-events: none;
    cursor: default;
}

#wrap {
	height:630px;
}

#about-container {
	width:864px;
	padding:49px 65px;
}

#about-container img {
	float:left;
	margin-right:30px;
	border:1px solid #4A525A;
}

#about-portfolio {
	margin-top:30px;
}

p {									/* Using margin-bottom instead of <br> */
	font-size:16px;					/* to allow custom selection color to  */
	line-height:115%;				/* work in Chromium					   */
	margin-bottom:1em;
}

#email, #social-media {
	top:650px;
}