/*-----------------------------------------------------------------
 *	Title:			common.css
 *	Author:			Roberto Gomez
 *	Date:			4/26/13
 *	Description:	CSS external stylesheet for all pages
 *					which share common elements
 *-----------------------------------------------------------------*/

html,body {height:100%;}

body {background-color:#B6C7CF;}

.site-container {				/* Hide overflowing footer padding and stop	 */
    overflow:hidden;			/* the vertical scrollbars. min-height crops */
    min-height:100%;			/* footer at bottom of window. min-width     */
    min-width:994px;			/* ensures all content is viewable.          */
}

#header {
	height:80px;
	background-color:#202020;
}

#wrap {							/* wrap div allows content to be centered    */
	width:994px;				/* when window changes using auto for left   */				
	margin:0 auto;				/* and right margins. It's position is       */
	position:relative;			/* relative so that all content may be       */
}								/* placed relative to it using absolute prop */

h1 {
	position:absolute;
	top:-47px;
	left:48px;
	font-size:43px;
}

nav {
	position:absolute;
	top:-32px;
	left:567px;
}

.unselectable {
	-webkit-touch-callout:none;		/* Prevent text selection in iOS  */
	-webkit-user-select:none;		/* Chrome & Safari				  */
	-khtml-user-select:none;		/* Konqueror					  */
	-moz-user-select:none;			/* Firefox						  */
	-ms-user-select:none;			/* and IE 10+					  */
	user-select:none;
}

#email {
	position:absolute;
	left:130px;
}

#social-media {
	position:absolute;
	left:650px;
}

#footer {								/* Add long padding but essentially	 */
	background-color:/*hfbg*/#202020;	/* cancel it out with negative  	 */
	height:57px;						/* margin, thereby ending footer div */
	padding-bottom:32000px;				/* space at end of browser window.	 */
    margin-bottom:-32000px;
}

.footer-text {							/* Makes non-link footer text white	 */
	color:white;
}

span.highlight {
	color:#36855f;
}

p a {
	color:#145376;
}

p a:hover {
	color:#1c74a5;
}

p a:active {
	color:#145376;
}

.header-footer-links {
	color:#FFFFFF;
	text-decoration:none;
}

.header-footer-links:hover {		/* Selector for when mouse is over link */
	color:#B0B0B0;					/* Lighter color emulates highlighting  */
}

.header-footer-links:active {		/* Selector for when link is selected	*/
	color:#FFFFFF;					/* Restores color of unselected link 	*/
}

/*
 * The following is for customizing the element
 * selection color. The first pair use two not
 * selectors to apply the color to all selected
 * elements except a, spans, and .footer-text.
 * RGB form is used to fix quirk in Chromium
 * where it changes opacity for ::selection
 * if it is set to 1, thus set it to .90.
 */

*:not(a):not(.footer-text)::selection {
	background:rgba(74,82,90,.90);
	color:#FFFFFF;
}

*:not(a):not(.footer-text)::-moz-selection {
	background:rgba(74,82,90,.90);
	color:#FFFFFF;
}

p a::selection {						/* Selects all links in paragraphs */
	background:rgba(74,82,90,.90);
	color:#1c74a5;
}

p a::-moz-selection {
	background:rgba(74,82,90,.90);
	color:#1c74a5;
}

span.highlight::selection {			/* Selects the highlighted text in		*/
	background:rgba(74,82,90,.90);	/* the intro-container.					*/
	color:#36855f;
}

span.highlight::-moz-selection {
	background:rgba(74,82,90,.90);
	color:#36855f;
}

.header-footer-links::selection	{	/* Eventhough using unselectable class  */
	color:#B0B0B0;					/* on these components, firefox still	*/
}									/* selects them, thus the need for this	*/

.header-footer-links::-moz-selection {
	color:#B0B0B0;
}

.footer-text::selection {			/* Allows for highlighting text in the  */
	color:#B0B0B0;					/* footer that isn't a link ie |		*/
}

.footer-text::-moz-selection {
	color:#B0B0B0;
}
