html {                          /* Required for sticky footer */
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Lucida Grande", "Lucida Sans Unicode",
                 "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-bottom: 60px;        /* Set to height of stick footer */
}

body > .container { padding: 70px 15px 10px; }

h1, h2 { margin: 0; }

.navbar-brand {
    font-size: 0.75em;
    font-weight: bold;
}

nav { font-size: 1.2em; }

hr {
    margin: 0.5em 0;
    height: 1px;                /* Overwrite bootstrap defaults */
    border: none;
    background-color: black;
}

footer {                        /* Sticky footer */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    font-size: 1.1em;
    line-height: 60px;          /* For vertically aligning the ul */
    text-align: center;
    color: #999999;
    background-color: #222222;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li { display: inline; }

footer > ul > li > a { color: #999999; }

footer > ul > li > a:hover,
footer > ul > li > a:focus {
    color: #ffffff;
    text-decoration: none;
}

