/*-----------------------------------------------------------------
 *	Title:			common.css
 *	Author:			Roberto Gomez
 *	Date:			4/16/13
 *	Description:	CSS external stylesheet for all pages
 *					which share common elements
 *-----------------------------------------------------------------*/

/*
 * Color reference chart
 *
 * element					   comment			color
 * main background			   mbg				#B6C7CF
 * header/footer background    hfbg				#202020
 * header/footer text		   hft				#FFFFFF
 */

html,body {height:100%;}

body {background-color:/*mbg*/#B6C7CF;}

.site-container {				/* Hide overflowing footer padding and stop	 */
    overflow:hidden;			/* the vertical scrollbars. min-height crops */
    min-height:100%;			/* footer at bottom of window. min-width     */
    min-width:994px;			/* ensures all content is viewable.          */
}

#header {
	height:80px;
	background-color:/*hfbg*/#202020;
}

#wrap {							/* wrap div allows content to be centered    */
	width:994px;				/* when window changes using auto for left   */				
	margin:0 auto;				/* and right margins. It's position is       */
	position:relative;			/* relative so that all content may be       */
}								/* placed relative to it using absolute prop */

h1 {
	position:absolute;
	top:-50px;
	left:65px;
	font-size:45px;
}

h1 a, #email a {				/* Link selectors for title and  */
	color:/*hft*/#FFFFFF;		/* email grouped together 		 */
	text-decoration:none;
}

h1 a:hover, #email a:hover {		/* Selector for when mouse is over link */
	color:#B0B0B0;					/* Lighter color emulates highlighting  */
}

h1 a:active, #email a:active {		/* Selector for when link is selected */
	color:#FFFFFF;					/* Restores color of unselected link  */
}

nav {
	position:absolute;
	top:-32px;
	left:567px;
}

.unselectable {
	-webkit-touch-callout:none;		/* Prevent text selection in iOS  */
	-webkit-user-select:none;		/* Chrome & Safari				  */
	-khtml-user-select:none;		/* Konqueror					  */
	-moz-user-select:none;			/* Firefox						  */
	-ms-user-select:none;			/* and IE 10+					  */
	user-select:none;
}

.tabs li {
	float:left;					/* Makes a horizontal row 					*/
	position:relative;			/* For abs. positioning of psueudo elements */
}

.tabs a {
	float:left;					/* Make them block level and only */
	padding:8px 30px;			/* as wide as they need			  */
	text-decoration:none;
	color:black;				/* Default colors */ 
	background:gray;
	-webkit-border-top-left-radius:12px;
	-webkit-border-top-right-radius:12px;
	-moz-border-radius-topleft:12px;
	-moz-border-radius-topright:12px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
}

.tabs .selected {							/* Highest, active tab is on top */
	z-index:3;
}

.tabs .selected a { 						/* Colors when tab is active */
	background:/*mbg*/#B6C7CF; 
	color:black; 
}

.tabs li:before, .tabs li:after,			/* All pseudo elements are		 */
.tabs li a:before, .tabs li a:after {		/* abs. positioned and on bottom */
	position:absolute;
	bottom:0;
}
   
.tabs li:last-child:after,				/* Only the first, last, and active */
.tabs li:last-child a:after,			/* tabs need pseudo elements at all */
.tabs li:first-child:before,
.tabs li:first-child a:before,
.tabs .selected:after,   .tabs .selected:before,
.tabs .selected a:after, .tabs .selected a:before {
	content:"";
}

.tabs .selected:before, .tabs .selected:after {
	background:/*mbg*/#B6C7CF;
	z-index:1;								/* Squares below circles */
}

.tabs li:before, .tabs li:after {			/* Squares */
	background:gray;
	width:10px;
	height:10px;
}

.tabs li:before {
	left:-10px;
}

.tabs li:after {
	right:-10px;
}

.tabs li a:after, .tabs li a:before {		/* Circles */
	width:20px;
	height:20px;
	-webkit-border-radius:10px;				/* Circles are circular */
	-moz-border-radius:10px;
	border-radius:10px;
	background:/*hfbg*/#202020;
	z-index:2;								/* Circles over squares */
}

.tabs .selected a:after, .tabs .selected a:before {
	background:gray;
}

.tabs li:first-child.selected a:before,		/* First and last tabs have		 */
.tabs li:last-child.selected a:after {		/* different outside color needs */
	background:/*hfbg*/#202020;
}

.tabs li a:before {
	left:-20px;
}
.tabs li a:after {
	right:-20px;
}

#email {
	position:absolute;
	left:100px;
}

#linkedin {
	position:absolute;
	left:650px;
}

#footer {								/* Add long padding but essentially	 */
	background-color:/*hfbg*/#202020;	/* cancel it out with negative  	 */
	height:57px;						/* margin, thereby ending footer div */
	padding-bottom:32000px;				/* space at end of browser window.	 */
    margin-bottom:-32000px;
}

span {
	color:#36855f;
}

p a {
	color:#145376;
}

p a:hover {
	color:#1c74a5;
}

p a:active {
	color:#145376;
}

*:not(a)::selection {				/* Selects everything but links and  	*/ 
	background:#54575a;				/* spans for custom element selection	*/
	color:#FFFFFF;					/* color. Necessary for separate		*/
}									/* links and span selection color.		*/

*:not(a)::-moz-selection {			/* NOTE: can't combine both selections	*/
	background:#54575a;
	color:#FFFFFF;
}

p a::selection {					/* Selects all links in paragraphs		*/
	background:#54575a;
	color:#1c74a5;
}

p a::-moz-selection {
	background:#54575a;
	color:#1c74a5;
}

h1 a::selection,					/* Selects the header title and 		*/
#email a::selection {				/* footer email							*/
	color:#B0B0B0;
}

h1 a::-moz-selection,
#email a::-moz-selection {
	color:#B0B0B0;
}

span.highlight::selection {			/* Selects the highlighted text in		*/
	background:#54575a;				/* the intro-container. Highlight class	*/
	color:#36855f;					/* necessary for not selecting captions */
}									/* in fancybox							*/

span.highlight::-moz-selection {
	background:#54575a;
	color:#36855f;
}

/*
 * Notes
 *
 * consider darkening link color for most contrast, especially for work page
 * could you just replace linkedin img with another highlighted img version
 * when hovered over?
 * In order to make border of linkedin img highlight for hover, would have to
 * first set a border width, perhaps could make it same color as footer or 
 * transparent. would have to apply border-radius to remove corners.
 * don't think it will work since when you hover the border will become easily
 * viewable around the img, may not look good
 * Color reference chart needs update.
 * For ie compatibility, make alternate/simpler parts of website
 * ie instead of tab menu, just put word menu.
 * Make tabs hover color change or use new code for tabs.
 * May have to use alternate method for rounding out bottom of tabs
 * like use border-radius on adjacent background tabs but may not
 * work because of the psuedo elements involved, may show up on hover.
 */

/*
 * Incompatibilities
 *
 * Tab menu may not be fully supported in older versions of IE.
 * User selection prevention uses non-standard browser properties.
 * For older IE versions, may need to use unselectable attribute
 * default to simpler nav menu for IE.
 * Current use of :not in selector of text selection is not supported in <IE8
 */