/*-----------------------------------------------------------------
 *	Title:			ie8-and-lower.css
 *	Author:			Roberto Gomez
 *	Date:			5/1/13
 *	Description:	CSS external stylesheet with reduced styling
 *					and features for IE 8 and below.
 *-----------------------------------------------------------------*/

ul {
	position:absolute;
	top:-30px;
	left:565px;
}

li {
	width:120px;
	display:inline-block;		/* inline-block so links stay on same line.	*/
	*display:inline;			/* CSS hack for IE 6/7 to support			*/
    zoom:1;						/* inline-block								*/
}

ul li {							/* Removes area around links so only link  */
	padding:0;					/* name is clickable					   */
	margin:0;
}

ul a {
	padding:5px;
	display:inline-block;
	color:white;
	font-size:20px;
	text-decoration:none;
}

.unselected a:hover {
	color:#B0B0B0;
}

.selected a {						/* Underline the link of the currently	*/
	text-decoration:underline;		/* selected page						*/
}

#robot-background {
	position:absolute;
	top:200px;
	left:41px;
}