/*-----------------------------------------------------------------
 *	Title:			index.css
 *	Author:			Roberto Gomez
 *	Date:			4/16/13
 *	Description:	CSS external stylesheet for homepage
 *					index.html
 *-----------------------------------------------------------------*/

#home nav .home > a, #home nav .selected > a {
	pointer-events: none;
    cursor: default;
}

#wrap {
	height:630px;
}

#intro-container {
	position:absolute;
	top:50px;
	left:60px;
	width:380px;
	height:100px;
	font-size:20px;
}

#news-container {
	position:absolute;
	top:50px;
	left:510px;
	width:430px;
	height:180px;
}

#news-container h3 {
	font-weight:lighter;
}

#news-container p {
	font-size:17px;
}

#featured-container {
	position:absolute;
	top:330px;
	left:510px;
	width:430px;
	height:180px;
}

#featured-container h2 {
	text-align:center;
}

#featured-container a {				/* May be able to move to		   */
	color:#145376;					/* common.css for all link styling */
}									/* within regular text			   */

#featured-container a:hover {
	color:#1c74a5;
}

#featured-container a:active {
	color:#145376;
}

#featured-container p {
	font-size:18px;
}

#featured-image {
	position:absolute;
	top:200px;
	left:-37px;
	z-index:1;
}

#circle {
	position:absolute;
	top:200px;
	left:40px;
	width:400px;
	height:400px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	background-color:#4A525A;
	z-index:0;
}

#email {
	top:650px;
}

#linkedin {
	top:646px;
}

/*
 * Update
 *
 * Before site launch remember to update these:
 * Links
 * News date
 * Consider color change, make less gray/dull
 */

/*
 * Notes
 * Link to robot correctly links to robot container and scrolls to it,
 * but it cuts off header and can't scroll above it. should be functionally
 * equivalent to wiki pages with toc and headers
 * Until make slideshow effect for news posts, in meantime can just post
 * only newest item and have a link that shows all news on a different page
 */

/*
 * Incompatibilities
 */

/*
 * Acknowledgements
 */