#intro-section {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#featured-section div {         /* Vertically-center the featured-section text */
    display: table-cell;
    vertical-align: middle;
}

.vcenter { display: table; }

#news-section h2 {
    font-size: 1.25em;
}

#featured-section h2 {
    font-size: 1.75em;
    text-align: center;
}

#news-section p, #featured-section p { font-size: 1.1em; }

/* Set the correct height of the column */
/* depending on the viewport width      */
@media (min-width: 768px) { .vcenter { height: 259px; } }

@media (min-width: 992px) {
    .vcenter { height: 341px; }

    /* Move the featured content upward */
    .row + .row .col-sm-6 { margin-top: -50px; }}

@media (min-width: 1200px) { .vcenter { height: 375px; } }

