#intro-section {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#news-section h2 {
    font-size: 1.25em;
}

@media (min-width: 768px) {
    #featured-section { padding-top: 50px; }
}

@media (min-width: 992px) {
    #featured-image { margin-top: -50px; }
}

@media (min-width: 1200px) {
    #featured-section { padding-top: 75px; }
}

#featured-section h2 {
    font-size: 1.75em;
    text-align: center;
}

#news-section p, #featured-section p { font-size: 1.1em; }

