/*-----------------------------------------------------------------
 *	Title:			work.css
 *	Author:			Roberto Gomez
 *	Date:			4/16/13
 *	Description:	CSS external stylesheet for work page
 *					work.html
 *-----------------------------------------------------------------*/

#work nav .work > a, #work nav .selected > a {
	pointer-events: none;
    cursor: default;
}

#wrap {
	height:1180px;
}

#robot-container {
	position:absolute;
	top:40px;
	left:65px;
	width:860px;
	height:580px;
}

#robot-textbox {
	position:absolute;
	left:65px;
	top:95px;
	width:410px;
	height:500px;
}

p {
	font-size:14px;				/* Minimum text size s/b 15/16 */
	text-indent:2em;			
}

img {
	border:1px solid #4A525A;
}

img:hover {
	border:1px solid #1c74a5;
}

#robot-main-image {
	position:absolute;
	left:520px;
	top:95px;
}

#robot-mount {
	position:absolute;
	top:420px;
	left:735px;
}

#robot-poster {
	position:absolute;
	top:420px;
	left:520px;
}

#qa-container {
	position:absolute;
	top:720px;
	left:65px;
	width:860px;
	height:400px;
}

#qa-container p {
	margin-top:20px;
}

#qa-container a {
	margin-left:50px;
	float:right;
}

#email {
	top:1200px;
}

#linkedin {
	top:1196px;
}

/*
 * Update
 *
 * Before site launch remember to update these:
 * Mount image need 1024x768 and new 800x600
 */

/*
 * Notes
 *
 * Look into increasing size between text lines like most websites
 * consider posting robot report on site, else may available on request
 * ask question of fancybox minwidth on stackoverflow, maybe first 
 * ask creator
 * The hover effect for images is also affecting them when they're 
 * viewed in fancybox, maybe apply hover only to link or image 
 * individually, else disable hover effect
 * Add specifics, quantify, the word content of the works so its more 
 * specific, less general
 * add captions below robot text like in magazine from clockwise etc
 * or make use of captions in lightbox
 * Consider making discrete paragraphs in descriptions, with or w/o
 * line spacing in between
 * Maybe increase height of footer to allow scrolling a bit below it
 * so it doesn't look so short at bottom of page.
 * maybe reduce unused space between both containers
 */

/*
 * Incompatibilities
 */

/*
 * Acknowledgements
 */