/*-----------------------------------------------------------------
 *	Title:			work.css
 *	Author:			Roberto Gomez
 *	Date:			4/16/13
 *	Description:	CSS external stylesheet for work page
 *					work.html
 *-----------------------------------------------------------------*/

#work nav .work > a, 				/* Disables the tab link  */
#work nav .selected > a {			/* of the current page	  */
	pointer-events:none;
    cursor:default;
}

#wrap {					/* Probably don't need to specify height 		  */
	height:1474px;		/* since everything static except header & footer */			
}

.work-container {
	padding:40px 65px;
	width:864px;
}

#robot-images {
	width:402px;
	/*height:465px;*/
}

#robot-images, #qa-poster {
	float:right;
	margin-left:35px;
	margin-bottom:20px;
}

hr {
	margin-bottom:20px;
}

img.work-images {
	border:1px solid #4A525A;
}

img.work-images:hover {
	border:1px solid #1c74a5;
}

#robot-main-image {
	margin-bottom:22px;
}

#robot-poster {
	float:left;
}

#robot-mount {
	float:right;
}

p {
	font-size:16px;
	line-height:115%;
}

.overview {
	margin-bottom:1em;
}

#robot-org-wrap {
	margin-left:4.3em;
}

.italic {
	font-style:italic;
}

.description {
	text-indent:2em;
}

#qa-date-wrap {
	margin-left:3em;
}

#email {
	top:1494px;
}

#linkedin {
	top:1490px;
}

/*
 * Update
 *
 * Before site launch remember to update:
 * Mount image need 1024x768 and new 800x600
 */

/*
 * Issues
 *
 * still would like to figure out how to apply minwidth to single image
 */

/*
 * Notes
 *
 * Consider decreasing text
 * Add specifics, quantify, the word content of the works so its more 
 * specific, less general
 * Maybe increase height of footer to allow scrolling a bit below it
 * so it doesn't look so short at bottom of page.
 */

/*
 * Incompatibilities
 */